jatspacks/nlmjats-historical-2.0/dtd/historical.dtd

<!-- ============================================================= -->
<!--  MODULE:    NCBI Historical Book DTD                          -->
<!--  VERSION:   2.0                                               -->
<!--  DATE:      December 2004                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD NCBI Historical Book DTD v2.0 20041225//EN"
     Delivered as file "historical.dtd"                            -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI Historical Book DTD                          -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    DTD to describe a book, monograph, pamphlet, etc. -->
<!--             that is part of the NLM historical collections    -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare and invoke the Historical-DTD-specific -->
<!--                module of modules, that names any modules      -->
<!--                created expressly for this Historical Book DTD -->
<!--                             (%historical-modules.ent;)        -->
<!--             2) Declare and invoke the DTD Suite module of     -->
<!--                   modules (%modules.ent;), the Archiving and  -->
<!--                   Interchange Suite module that names all the -->
<!--                   Suite modules this DTD might invoke         -->
<!--             3) Invoke DTD-specific over-ride classes module   -->
<!--                   (%historical-classes.ent;)                  -->
<!--             4) Invoke Suite default classes                   -->
<!--                   (%default-classes.ent;)                     -->
<!--             5) Invoke DTD-specific over-ride mixes module     -->
<!--                   (%historical-mixes.ent;)                    -->
<!--             6) Invoke Suite default mixes                     -->
<!--                   (%default-mixes.ent;)                       -->
<!--             7) Invoke DTD-specific content model and attribute-->
<!--                   over-rides module (%historical-models.ent;) -->
<!--             8) Invoke the Common Element Module (from Suite)  -->
<!--             9) Invoke all the Class Modules (from Suite) as   -->
<!--                   well as any DTD-specific element modules    -->
<!--            10) Parameter Entities for attribute values used   -->
<!--                 in this module (DTD-specific definitions)     -->
<!--            11) Define document element (Book <book>)          -->
<!--            12) Define Front Matter <book-front>               -->
<!--            13) Define book components such as chapter and part-->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2004                                     -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Michael North   (NLM)                             -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)


                                                                   -->


<!-- ============================================================= -->
<!--                    MODULES OF MODULES INVOKED                 -->
<!-- ============================================================= -->


<!--                    MODULE TO NAME DTD-SPECIFIC MODULES        -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % historical-modules.ent PUBLIC  
"-//NLM//DTD NCBI Historical Book DTD Module of Modules v2.0 20041225//EN"
"historical-modules.ent"                                             >
%historical-modules.ent;


<!--                    MODULE TO NAME BOOK-SPECIFIC MODULES       -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % bookcustom-modules.ent PUBLIC  
"-//NLM//DTD Book DTD Module of Modules v2.0 20041031//EN"
"../../nlmjats-books-2.0/dtd/bookcustom-modules.ent"                                             >
%bookcustom-modules.ent;


<!--                    MODULE TO NAME THE MODULES                 -->
<!--                    Declares all the external modules that are  
                        part of the modular Journal Archiving and 
                        Interchange DTD Suite library.             -->
<!ENTITY % modules.ent PUBLIC  
"-//NLM//DTD Archiving and Interchange DTD Suite Module of Modules v2.0 20040830//EN" 
"../../nlmjats-core-2.0/dtd/modules.ent"                                                        >
%modules.ent;


<!-- ============================================================= -->
<!--                    CUSTOMIZATION MODULES INVOKED              -->
<!--                    Note: These modules must be called after   -->
<!--                    all Module of Modules but before any other -->
<!--                    modules. Unlike any other grouping, order  -->
<!--                    of these modules matters.                  -->
<!-- ============================================================= -->


<!--                    DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE   -->
<!--                    Names the module that holds the DTD-specific
                        class definitions for the Book DTD. 
                        (Defined in %bookcustom-modules.ent;)      -->
%historical-classes.ent;
%bookcustom-classes.ent;


<!--                    DEFAULT ELEMENT CLASSES MODULE             -->
<!--                    Names the module that holds the standard
                        class definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-classes.ent;


<!--                    DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE     -->
<!--                    Set up the Parameter Entities and element
                        class definitions for the Book DTD that will 
                        be used to over-ride mixes in full DTD Suite.
                        (Defined in %bookcustom-modules.ent;)      -->
%historical-mixes.ent;
%bookcustom-mixes.ent;


<!--                    DEFAULT MIX CUSTOMIZATIONS MODULE          -->
<!--                    Names the module that holds the standard
                        mix definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-mixes.ent;


<!--                    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS 
                        MODULE                                     -->
<!--                    Names the module that holds the over-rides
                        of content models, attribute lists, elements
                        lists to be used in content models, and
                        attribute values. These are Book DTD-specific.
                        (Defined in %bookcustom-modules.ent;)      -->
%historical-models.ent; 
%bookcustom-models.ent;


<!-- ============================================================= -->
<!--                    COMMON (SHARED) ELEMENTS MODULE INVOKED    -->
<!-- ============================================================= -->


<!--                    COMMON (SHARED) DECLARATIONS               -->
<!--                    Declarations for elements, attributes, 
                        entities, and Notations that are shared by
                        more than one class module. Note: Must be 
                        called before any of the class modules.    -->

%common.ent;

 
<!-- ============================================================= -->
<!--                    DTD SUITE CLASS ELEMENTS (alpha)           -->
<!-- ============================================================= -->


<!--                    ARTICLE METADATA ELEMENTS                  -->
<!--                    These, while written for journal articles,
                        include many useful metadata elements for
                        books as well. Supplemented by the metadata
                        elements defined in -%bookmeta.ent and
                        -%bookpartmeta.ent;.                       -->
%articlemeta.ent;


<!--                    BACK MATTER ELEMENTS                       -->
%backmatter.ent;


<!--                    DISPLAY (GRAPHICAL) ELEMENTS               -->
%display.ent;


<!--                    FORMATTING ELEMENT CLASSES                 -->
<!--                    Elements that change rendition/display.    -->
%format.ent;


<!--                    LINK CLASS ELEMENTS                        -->
%link.ent;


<!--                    LIST CLASS ELEMENTS                        -->
%list.ent;


<!--                    MATH ELEMENTS                              -->
%math.ent;


<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
%para.ent;


<!--                    PHRASE-LEVEL ELEMENTS                      -->
%phrase.ent;


<!--                    BIBLIOGRAPHIC REFERENCE (CITATION) 
                        CLASS ELEMENTS                             -->
%references.ent;


<!--                    SECTION ELEMENTS                           -->
%section.ent;


<!-- ============================================================= -->
<!--                    REST OF THE DTD SUITE                      -->
<!-- ============================================================= -->


<!--                    CUSTOM SPECIAL CHARACTERS DECLARATIONS     -->
<!--                    Custom special character entities created 
                        specifically for use in this DTD Suite     -->
%chars.ent;


<!--                    MATHML SETUP MODULE                        -->
<!--                    Invoke the MathML modules                  -->
%mathmlsetup.ent;                                            


<!--                    NOTATION DECLARATIONS MODULE               -->
%notat.ent;


<!--                    XHTML TABLE SETUP MODULE                   -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke XHTML (HTML 4.0) table 
                        module                                     -->
%XHTMLtablesetup.ent;


<!--                    SPECIAL CHARACTERS DECLARATIONS            -->
<!--                    Standard XML special character entities 
                        used in this DTD                           -->
%xmlspecchars.ent;                                                                
 
 
<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    DTD VERSION                                -->
<!--                    What version of this DTD was used to make
                        the document instance under consideration.
                        Note that this is a fixed value that should
                        change every time the DTD changes versions or
                        revisions.                                 -->
<!ENTITY % dtd-version   
            "dtd-version        
                        CDATA                          #FIXED '2.0'" >



<!--                    BOOK IDENTIFIER ATTRIBUTES                 -->
<!--                    Book identifiers, such as one of type ID, so
                        internal references can be made            -->
<!ENTITY % book-identifier-atts   
            "book-id    ID                                 #IMPLIED" >


<!--                    BOOK ATTRIBUTES                            -->
<!--                    Attributes for the top-level element
                        <book> as well as for <book-part>s         -->
<!ENTITY % book-atts
            "%book-identifier-atts;
             %dtd-version;                              
             xml:lang   NMTOKEN                                'EN'     
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;"                                  >

 
<!-- ============================================================= -->
<!--                    BOOK-SPECIFIC ELEMENTS                     -->
<!-- ============================================================= -->


<!--                    HISTORICAL ANNOTATION ELEMENTS             -->
<!--                    Defines elements that describe the variety -->
<!--                    of material added to the original text of  -->
<!--                    older books and historical editions,       -->
<!--                    for example, editorial emendations and     -->
<!--                    additions as well as the need to record    -->
<!--                    the page numbers.                          -->
%annotation.ent;


<!--                    BOOK-SPECIFIC METADATA                     -->
<!--                    The same book-specific metadata elements that
                        are used in the NLM Book DTD. These, plus
                        elements from article metadata name the
                        book-level metadata for historical editions.
                        Historical editions also have their own
                        digital-edition-specific metadata described
                        in %historicalmeta.ent; below.             --> 
%bookmeta.ent;


<!--                    BOOK COMPONENT METADATA AND ELEMENTS       -->
<!--                    The same book component elements that are 
                        used in the NLM Book DTD.
                        Elements that name components of books such
                        as chapters, which are modeled as
                        <book-part>s.                              -->
%bookpart.ent;


<!--                    BOOK IMAGE MAP ELEMENTS                    -->
<!--                    The same linking elements used in the NLM
                        Book DTD. Elements used in Image Maps      -->
%bookimagemap.ent;


<!--                    BOOK MULTI-LINK ELEMENTS                   -->
<!--                    The same linking elements used in the NLM
                        Book DTD. Elements used for book-DTD-specific 
                        links to external resources                -->
%bookmultilink.ent;


<!--                    HISTORICAL METADATA ELEMENTS               -->
<!--                    Metadata elements that have been added
                        specifically for this DTD, for example the
                        <printer> element and the digital edition
                        (as opposed to the print book) metadata
                        element.                                   -->
%historicalmeta.ent;
                                                               

<!-- ============================================================= -->
<!--                    BOOK ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BOOK MODEL                                 -->
<!--                    Content model for the <book> element       -->
<!ENTITY % book-model   "(book-meta, digital-edition-meta?, 
                          book-front?, 
                          body, back?)"                              >


<!--                    BOOK                                       -->
<!--                    Top-level document for this DTD. A "book" as
                        defined in this DTD covers a variety of STM
                        monographs and reference books, largely 
                        biomedical in subject, that may include
                        previously published works, historical works,
                        new works written for NCBI, compilations, and
                        internal regulations and procedure of NLM. 
                                                                   -->
<!ELEMENT  book         %book-model;                                 >                
<!--         id         Unique identifier, so the contributor can be
                        referenced from inside the document
             dtd-version 
                        Which version of the DTD does this article
                        use? The value is a #FIXED attribute, so
                        the entire attribute definition is defined
                        in a Parameter Entity, so the next version
                        of the DTD can use a different #FIXED value.
             xml:lang   The language in which the value of the
                        element is expressed.  Recommended best 
                        practice is to use values as defined in
                        RFC 1766, typically 2-letter language
                        codes such as "FR" (French), "EN" (English),
                        and "DE" (German).  These values are NOT
                        case sensitive, so "EN" = "en". The values
                        may include hyphenated differentiators such 
                        as "EN-AU" (Australian English) and "EN-US"
                        (United States English).
                        Processing and Conversion Note: All other
                        xml:lang attributes within the article
                        inherit the value set on <article> unless
                        explicitly set themselves with their own
                        "xml:lang" attribute.                      
             xmlns      Set up the pseudo-attributes for the
                        namespaces for any namespaces used in this
                        DTD.  Xlink and MathML are set up in the
                        MathML modules. These xmlns are called
                        here because certain older tools will not
                        work properly with namespaces unless they
                        are declared on the top level element.
                        The PEs are defined in the MathML modules. -->
<!ATTLIST book
            %book-atts;                                              >
            

<!-- ============================================================= -->
<!--                    BOOK METADATA                              -->
<!-- ============================================================= -->


<!--                    BOOK METADATA                              -->
<!--                    Whole-book-level metadata elements, for
                        example, book title, volume, and ISBN for a 
                        work such as a monograph, encyclopedia, 
                        reference volume, etc.                     -->
<!ELEMENT book-meta     %book-meta-model;                            >


<!-- ============================================================= -->
<!--                    BOOK TEXTUAL FRONT MATTER                  -->
<!-- ============================================================= -->


<!--                    FRONT MATTER DESIGN NOTE: There are many,
                        unique pages in the textual front matter of 
                        historical material, which may contain data
                        such as dedications, epigraphs, personal
                        notes, etc. that are found nowhere else in 
                        the work. Thus it may be useful to preserve
                        these odd pages in the XML version. During
                        analysis, it was decided that such pages can
                        be tagged as Sections <sec>, with a title if
                        they have one or a "descriptive" title,
                        such as "Inside Cover", "Title Page", or
                        "Frontis Piece" if they are untitled.      -->
                      

<!--                    BOOK TEXTUAL FRONT MATTER MODEL            -->
<!--                    Content model for the <book-front>. This is
                        the textual front matter of a book as 
                        distinguished from its metadata, which is
                        contained in the element <book-meta>.      -->
<!ENTITY % book-front-model 
                        "(title*, (%doc-front-matter-mix;)* )"       >


<!--                    BOOK FRONT MATTER                          -->
<!--                    A wrapper element for the textual front 
                        matter (such as introductions and prefaces)
                        of a book. Not a metadata wrapper, that
                        function is preformed by <book-meta>.      -->
<!ELEMENT book-front    %book-front-model;                           >


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BODY                                       -->
<!--                    The main textual portion of the book; this
                        contains the book content.                 -->
<!ELEMENT  body         %body-model;                                 >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter of a book.
                        This is typically ancillary material such as 
                        glossaries, appendices, bibliographies,
                        reference tables, etc. 
                        Remarks: Lists of materials, contributors, 
                        etc. may also occur in Back Matter, but the 
                        decision was made that any such lists can be 
                        enclosed in a Section <sec> wrapper.       -->
<!ENTITY % back-model   "(title*,
                          (%doc-back-matter-mix; | 
                           %just-table.class;)* )"                   >


<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a 
                        journal article, for example appendices and
                        acknowledgments.                           -->
<!ELEMENT  back         %back-model;                                 >



<!-- ================== End NCBI Historical Book DTD ==============-->
