jatspacks/nlmjats-books-2.0/dtd/bookcollection.dtd

<!-- ============================================================= -->
<!--  MODULE:    NCBI Book Collection DTD                          -->
<!--  VERSION:   2.0                                               -->
<!--  DATE:      October 2004                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD NCBI Book Collection DTD v2.0 20041031//EN"
    Delivered as file "bookcollection.dtd"                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Define elements used to describe collections      -->
<!--             (aggregations) of books. Such a collection is     -->
<!--             more than a single work, it is a group of works   -->
<!--             organized according to some principle.            -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare and invoke the Book-DTD-specific       -->
<!--                module of modules, that names any modules      -->
<!--                created expressly for this Book DTD.           -->
<!--                             (%bookcustom-modules.ent;)        -->
<!--             2) Declare and invoke the DTD Suite module of     -->
<!--                   modules (%modules.ent;), the Archiving and  -->
<!--                   Interchange Suite module that names all the -->
<!--                   Suite modules this DTD might invoke         -->
<!--             3) Invoke DTD-specific over-ride classes module   -->
<!--                   (%journalpub-classes.ent;)                  -->
<!--             4) Invoke Suite default classes                   -->
<!--                   (%default-classes.ent;)                     -->
<!--             5) Invoke DTD-specific over-ride mixes module     -->
<!--                   (%bookcustom-mixes.ent;)                    -->
<!--             6) Invoke Suite default mixes                     -->
<!--                   (%default-mixes.ent;)                       -->
<!--             7) Invoke DTD-specific content model and attribute-->
<!--                   over-rides module (%bookcustom-models.ent;) -->
<!--             8) Invoke the Common Element Module (from Suite)  -->
<!--             9) Invoke all the Class Modules (from Suite) as   -->
<!--                   well as any DTD-specific element modules    -->
<!--            10) Parameter Entities for attribute values used   -->
<!--                 in this module (DTD-specific definitions)     -->
<!--            11) Define document element <collection>           -->
<!--            12) Define Front Matter <book-front>               -->
<!--            13) Collection metadata elements                   -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2004                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)


     =============================================================
     Version 2.0                    (DAL/BTU/TRG) v2.0 (2005-01-25)
     
1.  Comments for this module were cleaned up as part of the delivery 
    of the NCBI Historical DTD. Since only comments were changed,
    this was not even considered to be a dot release and the
    formal public identifier remained unchanged.                   -->


<!-- ============================================================= -->
<!--                    MODULES OF MODULES INVOKED                 -->
<!-- ============================================================= -->


<!--                    MODULE TO NAME DTD-SPECIFIC MODULES        -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % bookcustom-modules.ent PUBLIC  
"-//NLM//DTD Book DTD Module of Modules v2.0 20041031//EN"
"bookcustom-modules.ent"                                             >
%bookcustom-modules.ent;


<!--                    MODULE TO NAME THE MODULES                 -->
<!--                    Declares all the external modules that are  
                        part of the modular Journal Archiving and 
                        Interchange DTD Suite library.             -->
<!ENTITY % modules.ent PUBLIC  
"-//NLM//DTD Archiving and Interchange DTD Suite Module of Modules v2.0 20040830//EN" 
"../../nlmjats-core-2.0/dtd/modules.ent"                                                        >
%modules.ent;


<!-- ============================================================= -->
<!--                    CUSTOMIZATION MODULES INVOKED              -->
<!--                    Note: These modules must be called after   -->
<!--                    all Module of Modules but before any other -->
<!--                    modules. Unlike any other grouping, order  -->
<!--                    of these modules matters.                  -->
<!-- ============================================================= -->


<!--                    DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE   -->
<!--                    Names the module that holds the DTD-specific
                        class definitions for the Book DTD. 
                        (Defined in %bookcustom-modules.ent;)      -->
%bookcustom-classes.ent;


<!--                    DEFAULT ELEMENT CLASSES MODULE             -->
<!--                    Names the module that holds the standard
                        class definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-classes.ent;


<!--                    DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE     -->
<!--                    Set up the Parameter Entities and element
                        class definitions for the Book DTD that will 
                        be used to over-ride mixes in full DTD Suite.
                        (Defined in %bookcustom-modules.ent;)      -->
%bookcustom-mixes.ent;


<!--                    DEFAULT MIX CUSTOMIZATIONS MODULE          -->
<!--                    Names the module that holds the standard
                        mix definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-mixes.ent;


<!--                    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS 
                        MODULE                                     -->
<!--                    Names the module that holds the over-rides
                        of content models, attribute lists, elements
                        lists to be used in content models, and
                        attribute values. These are Book DTD-specific.
                        (Defined in %bookcustom-modules.ent;)      -->
%bookcustom-models.ent; 


<!-- ============================================================= -->
<!--                    COMMON (SHARED) ELEMENTS MODULE INVOKED    -->
<!-- ============================================================= -->


<!--                    COMMON (SHARED) DECLARATIONS               -->
<!--                    Declarations for elements, attributes, 
                        entities, and Notations that are shared by
                        more than one class module. Note: Must be 
                        called before any of the class modules.    -->

%common.ent;

 
<!-- ============================================================= -->
<!--                    DTD SUITE CLASS ELEMENTS (alpha)           -->
<!-- ============================================================= -->


<!--                    ARTICLE METADATA ELEMENTS                  -->
<!--                    These, while written for journal articles,
                        include many useful metadata elements for
                        books as well. Supplemented by the metadata
                        elements defined in -%bookmeta.ent and
                        -%bookpartmeta.ent;.                       -->
%articlemeta.ent;


<!--                    BACK MATTER ELEMENTS                       -->
%backmatter.ent;


<!--                    DISPLAY (GRAPHICAL) ELEMENTS               -->
%display.ent;


<!--                    FORMATTING ELEMENT CLASSES                 -->
<!--                    Elements that change rendition/display.    -->
%format.ent;


<!--                    LINK CLASS ELEMENTS                        -->
%link.ent;


<!--                    LIST CLASS ELEMENTS                        -->
%list.ent;


<!--                    MATH ELEMENTS                              -->
%math.ent;


<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
%para.ent;


<!--                    PHRASE-LEVEL ELEMENTS                      -->
%phrase.ent;


<!--                    BIBLIOGRAPHIC REFERENCE (CITATION) 
                        CLASS ELEMENTS                             -->
%references.ent;


<!--                    SECTION ELEMENTS                           -->
%section.ent;


<!-- ============================================================= -->
<!--                    REST OF THE DTD SUITE                      -->
<!-- ============================================================= -->


<!--                    CUSTOM SPECIAL CHARACTERS DECLARATIONS     -->
<!--                    Custom special character entities created 
                        specifically for use in this DTD Suite     -->
%chars.ent;


<!--                    MATHML SETUP MODULE                        -->
<!--                    Invoke the MathML modules                  -->
%mathmlsetup.ent;                                            


<!--                    NOTATION DECLARATIONS MODULE               -->
%notat.ent;


<!--                    XHTML TABLE SETUP MODULE                   -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke XHTML (HTML 4.0) table 
                        module                                     -->
%XHTMLtablesetup.ent;


<!--                    SPECIAL CHARACTERS DECLARATIONS            -->
<!--                    Standard XML special character entities 
                        used in this DTD                           -->
%xmlspecchars.ent;                                                                

 
<!-- ============================================================= -->
<!--                    BOOK-SPECIFIC ELEMENTS                     -->
<!-- ============================================================= -->


<!--                    BOOK-SPECIFIC METADATA                     -->
%bookmeta.ent;


<!--                    BOOK COMPONENT METADATA AND ELEMENTS       -->
%bookpart.ent;


<!--                    BOOK IMAGE MAP ELEMENTS                    -->
%bookimagemap.ent;


<!--                    BOOK MULTI-LINK ELEMENTS                   -->
%bookmultilink.ent;
 
 
<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    DTD VERSION                                -->
<!--                    What version of this DTD was used to make
                        the document instance under consideration.
                        Note that this is a fixed value that should
                        change every time the DTD changes versions or
                        revisions. This was created as version 2.0
                        to match the NLM Book DTD Version.        -->
<!ENTITY % dtd-version   
            "dtd-version        
                        CDATA                          #FIXED '2.0'" >


<!-- ============================================================= -->
<!--                    COLLECTION ELEMENTS                        -->
<!-- ============================================================= -->


<!--                    COLLECTION                                 -->
<!--                    A series of books (related in some manner by
                        subject, time period, etc) that are to be
                        considered a unit for the purposes of 
                        publication or web display. The list of books
                        that make up the collection is given in a 
                        list in the metadata. The front, body, and
                        back matter of a collection might hold a 
                        textual explanation of the collection or a 
                        list of references.                        -->
<!ELEMENT  collection   (collection-meta, book-front?, body?, back?) >
<!--         id         Unique identifier, so the contributor can be
                        referenced from inside the document
             dtd-version 
                        Which version of the DTD does this article
                        use? The value is a #FIXED attribute, so
                        the entire attribute definition is defined
                        in a Parameter Entity, so the next version
                        of the DTD can use a different #FIXED value.
             xml:lang   The language in which the majority of the
                        collection is expressed, if there is such
                        a majority. Recommended best 
                        practice is to use values as defined in
                        RFC 1766, typically 2-letter language
                        codes such as "FR" (French), "EN" (English),
                        and "DE" (German).  These values are NOT
                        case sensitive, so "EN" = "en". The values
                        may include hyphenated differentiators such 
                        as "EN-AU" (Australian English) and "EN-US"
                        (United States English).
                        Processing and Conversion Note: All other
                        xml:lang attributes within the article
                        inherit the value set on <article> unless
                        explicitly set themselves with their own
                        "xml:lang" attribute.                      
             xmlns      Set up the pseudo-attributes for the
                        namespaces for any namespaces used in this
                        DTD.  Xlink and MathML are set up in the
                        MathML modules. These xmlns are called
                        here because certain older tools will not
                        work properly with namespaces unless they
                        are declared on the top level element.
                        The PEs are defined in the MathML modules. -->
<!ATTLIST  collection
             id         ID                                 #IMPLIED
             %dtd-version;                              
             xml:lang   NMTOKEN                                'EN'     
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;                                   >
                

<!-- ============================================================= -->
<!--                    COLLECTION METADATA ELEMENTS               -->
<!-- ============================================================= -->


<!--                    COLLECTION METADATA MODEL                  -->
<!--                    Full content model for the metadata that is
                        specific to a collection of books, such as an
                        historical collection                      -->                   
<!ENTITY % collection-meta-model  
                        "(collection-id, collection-name, pub-date?,
                          history?, abstract*, trans-abstract*, 
                          kwd-group?, collection-list)"              >


<!--                    COLLECTION METADATA                        -->
<!--                    Container element for the metadata that is
                        specific to a collection of books, such as an
                        historical collection or HSTAT             -->                   
<!ELEMENT  collection-meta  
                        %collection-meta-model;                      >


<!--                    COLLECTION IDENTIFIER                      -->
<!--                    Identifier for the collection, used in 
                        processing, as a link target, etc.         -->                   
<!ELEMENT  collection-id  
                        (#PCDATA)                                    >


<!--                    COLLECTION NAME ELEMENTS                   -->
<!--                    Elements that may be mixed with the text
                        inside a collection name                       
                        DESIGN NOTE: All inline mixes begin with an
                        OR bar, but since %simple-phrase; inside
                        %title-elements is an inline mix, the OR 
                        bar is already there.                      -->
<!ENTITY % collection-name-elements
                        "%title-elements;"                           >


<!--                    COLLECTION NAME                            -->
<!--                    Human-readable name of the collection, for 
                        use in web page titles, menus, etc. (May be
                        a longer version of the collection identifier
                                                                   -->                   
<!ELEMENT  collection-name  
                        (#PCDATA %collection-name-elements;)*        >
                 

<!-- ============================================================= -->
<!--                    COLLECTION LIST ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    COLLECTION LIST                            -->
<!--                    The members of the collection, a series of
                        titles and links that are to be treated as
                        a single collection                        -->                   
<!ELEMENT  collection-list  
                        (collection-member+)                         >


<!--                    COLLECTION MEMBER                          -->
<!--                    One item, typically a book, in a collection
                        of books.                                  -->                   
<!ELEMENT  collection-member  
                        (title, ext-link+)                           >


<!-- ============================================================= -->
<!--                    BOOK TEXTUAL FRONT MATTER                  -->
<!-- ============================================================= -->



<!--                    BOOK TEXTUAL FRONT MATTER MODEL            -->
<!--                    Content model for the <book-front>. This is
                        the textual front matter of a book as 
                        distinguished from its metadata, which is
                        contained in the element <book-meta>.      -->
<!ENTITY % book-front-model 
                        "(title*, (%doc-front-matter-mix;)* )"       >


<!--                    BOOK FRONT MATTER                          -->
<!--                    A wrapper element for the textual front 
                        matter (such as introductions and prefaces)
                        of a book. Not a metadata wrapper, that
                        function is preformed by <book-meta>.      -->
<!ELEMENT book-front    %book-front-model;                           >


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BODY OF THE COLLECTION DESCRIPTION         -->
<!--                    The main textual portion (if any) of the
                        collection description                     -->
<!ELEMENT  body         %body-model;                                 >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter of a book.
                        This is typically ancillary material such as 
                        glossaries, appendices, bibliographies,
                        reference tables, etc. 
                        Remarks: Lists of materials, contributors, 
                        etc. may also occur in Back Matter, but the 
                        decision was made that any such lists can be 
                        enclosed in a Section <sec> wrapper.       -->
<!ENTITY % back-model   "(title*,
                          (%doc-back-matter-mix; | 
                           %just-table.class;)* )"                   >


<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a 
                        journal article, for example appendices and
                        acknowledgments.                           -->
<!ELEMENT  back         %back-model;                                 >


<!-- ================== End Book Collection DTD  ================= -->