jatspacks/nlmjats/books/2.3/dtd/bookpart.ent

<!-- ============================================================= -->
<!--  MODULE:    Book Component Elements and Metadata              -->
<!--  VERSION:   2.3                                               -->
<!--  DATE:      February 2007                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD NCBI Book DTD Book Component Metadata Elements v2.3 20070202//EN"
     Delivered as file "bookpart.ent"                              -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     NCBI BOOK DTD of the                              -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Declare book-component-level metadata, such as    -->
<!--             chapter-specific or part-specific metadata        -->
<!--             elements                                          -->
<!--                                                               -->
<!-- CONTAINS:   1) Parameter Entities for attribute lists         -->
<!--             2) Book metadata elements                         -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             NLM Bookshelf                                     -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             October 2002                                      -->
<!--                                                               -->
<!-- CREATED BY: Bart Trawick    (NCBI)                            -->
<!--             Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 2.3                       (DAL/BTU) v2.3 (2007-02-02)
     
     Enhancement Release (2.3) following the Working Group meetings 
     of Oct-Nov/2006-Jan/2007. No backward-incompatible changes.
     Archiving loosened even more. New structures for all the DTDs. 
     
  9. BOOK PART - Added an optional <book-meta> to the beginning
     of <book-part>, since book parts are sometimes processed
     separately. (The namespace for XLink was already there through
     the PE -%might-link-atts;.)
     
  8. NAMESPACES - Added the MathML namespace pseudo-attribute
     to <book-part>, as book parts are sometimes processed as
     separate objects.
     
  7. Updated public identifier to "v2.3 20070202//EN"          

     =============================================================
     Version 2.2                       (DAL/BTU) v2.2 (2006-10-13)
     Updated base Suite to latest version (2.2) Other minor
     modifications for processing.

  6. Created new element <book-part-categories> (and the PE for 
     its content model, %book-part-categories-model;) and added 
     this new element to content model of <book-part-meta> (via 
     addition to PE %book-part-meta-model;).

  5. BOOK PART - Changed the content model for the Book Part 
     (through the Parameter Entity %book-part-model;) to make
     <book-part-meta> optional. 
               
  4. Updated public identifier to "v2.3 20070202".

     =============================================================
     Version 2.1                       (DAL/BTU) v2.1 (2005-06-30)
     
     
     Changed to MathML 2.0 and MathML 2.0 Character Sets
          
  3. PERMISSIONS - Added a new <permissions> wrapper element to
     consolidate copyright and licensing information. For backwards
     compatibility, the new element will be added alongside the
     existing copyright elements. Best practice will be to use the
     new container, but <copyright-statement>, <copyright-year>,
     and <license> will be accepted in their old positions inside
     <book-part-meta>
      - Added <permissions> to <book-part-meta> model
      - Added <copyright-holder> to <permissions>

  2. Updated public identifier to "v2.3 20070202"

     =============================================================
     Version 2.0                    (DAL/BTU/TRG) v2.0 (2005-01-25)
     
  1. Comments for this module were cleaned up as part of the delivery 
     of the NCBI Historical DTD. Since only comments were changed,
     this was not even considered to be a dot release and the
     formal public identifier remained unchanged.                  -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOOK PART ATTRIBUTES                       -->
<!--                    Attributes used with the <book-part> element
             id         Unique identifier so the book part may be
                        referenced
             book-part-type
                        The published type of the book component,
                        for example chapter, part, unit, module, etc.
             book-part-number
                        The number that was printed/displayed with
                        in the original appearance of the book part,
                        for example "Chapter 14 Large Dogs" would
                        have a <title> of "Large Dogs" and a
                        "book-part-type" of "chapter" and a "number"
                        of "14".
             indexed    Should this unit be processed by the indexing
                        software or human indexers? The default is to
                        be indexed (value "true"). Indexing is often
                        turned off (value "false") for bibliographies
                        and other references, as opposed to body
                        content
             xlink:href Would link to a URI such as a URL concerned
                        with this book part (chapter, module)      -->
<!ENTITY % book-part-atts
            "id         ID                                #IMPLIED
             book-part-type     
                        CDATA                             #IMPLIED
             book-part-number   
                        CDATA                             #IMPLIED
             indexed    (true | false)                    'true'
             xml:lang   NMTOKEN                           'EN'     
             %might-link-atts;                            
             %MATHML.xmlns.attrib;"                                  >


<!-- ============================================================= -->
<!--                    BOOK PART ELEMENTS                         -->
<!-- ============================================================= -->
                                                               

<!-- ============================================================= -->
<!--                    BOOK PARTS (COMPONENTS SUCH AS CHAPTERS)   -->
<!-- ============================================================= -->


<!--                    BOOK PART MODEL                            -->
<!--                    Content model for the <book-part> element  -->
<!ENTITY % book-part-model 
                        "(book-meta?, book-part-meta?, book-front?, 
                          body?, back?)"                             >


<!--ELEM  book-front    Defined in %book.dtd;                      -->
                        

<!--                    BOOK PART                                  -->
<!--                    One organizational unit of a book, typically 
                        called a chapter, but it might be a part, 
                        module, section, unit, topic, volume, etc.
                        Remarks: In this DTD, the word "section" is
                        defined for subunits of a <book-part> that are
                        just heads and text, they have no back matter
                        such as appendices and references. By this
                        DTD's definition, if a division of the
                        hierarchical text (in other words, not
                        something out of line like a sidebar) has 
                        formal back matter, then it is a <book-part>.
                        Remarks: The "book-part-type" attribute can
                        be used to name the published name of the
                        component, for text generation or other
                        purposes, for example:
                            <book-part part-type="chapter">
                        Book parts with the title "Part" typically
                        contain other <book-part>s. Book parts with
                        the title "Chapter" typically contain just
                        sections. The deciding factor is how much
                        metadata you need (chapter have only titles,
                        and book parts have a lot of metadata) and
                        whether or not there is formal back matter.
                        Book parts may have back matter; sections
                        may not.                                   -->
<!ELEMENT  book-part    %book-part-model;                            >
<!--         id         Unique identifier, so the contributor can be
                        referenced from inside the document
             book-part-type
                        The published type of the book component,
                        for example chapter, part, unit, module, etc.
             book-part-number
                        The number that was printed/displayed with
                        in the original appearance of the book part,
                        for example "Chapter 14 Large Dogs" would
                        have a <title> of "Large Dogs" and a
                        "book-part-type" of "chapter" and a "number"
                        of "14".
             indexed    Should this unit be processed by the indexing
                        software or human indexers? The default is to
                        be indexed (value "true"). Indexing is often
                        turned off (value "false") for bibliographies
                        and other references, as opposed to body
             xml:lang   The language in which the value of the
                        element is expressed.  Recommended best 
                        practice is to use values as defined in
                        RFC 1766, typically 2-letter language
                        codes such as "FR" (French), "EN" (English),
                        and "DE" (German).  These values are NOT
                        case sensitive, so "EN" = "en". The values
                        may include hyphenated differentiators such 
                        as "EN-AU" (Australian English) and "EN-US"
                        (United States English).
                        Processing and Conversion Note: All other
                        xml:lang attributes within the article
                        inherit the value set on <article> unless
                        explicitly set themselves with their own
                        "xml:lang" attribute.
             xlink:href URL or other external link                 -->
<!ATTLIST  book-part
             %book-part-atts;                                        >
                

<!-- ============================================================= -->
<!--                    BOOK PART METADATA ELEMENTS                -->
<!-- ============================================================= -->


<!--                    BOOK PART METADATA MODEL                   -->
<!--                    Full content model for the metadata that is
                        specific to a book component, such as a 
                        chapter or unit
                        Design Note: The model for <title-group>
                        has been over-ridden for books.            -->
<!ENTITY % book-part-meta-model  
                        "(book-part-categories?, title-group, 
                         (contrib-group | aff)*, 
                         author-notes?, pub-date*, 
                         volume?, volume-id?, issue?,   
                         ((fpage, lpage?) | elocation-id)?, 
                         (supplementary-material)*, 
                         history?, copyright-statement?, 
                         copyright-year?, permissions?,  
                         self-uri*, alternate-form*, 
                         abstract*, trans-abstract*, kwd-group*,
                         counts?,
                         (%address-link.class; | %custom-meta.class; |
                          %front-back.class;)* )"                    >


<!--                    BOOK PART METADATA                         -->
<!--                    Container element for the metadata that is
                        specific to the large-scale components that
                        comprise the body of a book, such as a
                        chapter, unit, or module (all called
                        <book-part>                                -->                   
<!ELEMENT  book-part-meta  
                        %book-part-meta-model;                       >


<!--                    BOOK PART CATEGORIES MODEL                 -->
<!--                    Full content model for Book Part Categories-->                   
<!ENTITY % book-part-categories-model  
                        "(subj-group+)"                              >


<!--                    BOOK PART CATEGORIES                       -->
<!--                    Wrapper for categorization information for
                        book parts.                                -->                   
<!ELEMENT  book-part-categories  
                        %book-part-categories-model;                 >


<!-- ================== End Book Component Metadata Elements ===== -->